.TodoItem {
    font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#4d4d4d;
    border-bottom: 1px solid rgb(153,153,153);
    padding: 15px 60px 15px 15px;
    line-height: 28px;
    min-width: 230px;
    max-width: 550px;
    display: flex;
    
}

.TodoItem:last-child {
    border-bottom: none;
}
.TodoItem > p {
    margin-left: 20px;
}
.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: 0.3;
}