*{
  margin: 0;
  padding: 0
}
.wrapper {
  border: 1px solid rgb(153,153,153);
  width: 550px;
}
.App {
  width: 100vw;
  height: 100vh;
  border: 1px solid #EEE;
  text-align: left;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: rgba(0,0,0,0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Header {
  display: flex;
  border-bottom: 2px solid rgb(153,153,153);
  padding: 15px 60px 15px 15px;
  line-height: 28px;
  min-width: 230px;
  max-width: 550px;
}

.Header > input {
  margin-left: 20px;
  width: 100%;
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#4d4d4d;
  border: none
}

.Header > input:focus {
  outline: none
}

.Header > input::placeholder {
  font-style: italic;
  color: #e6e6e6
}

ul.filters {
  display: flex;
  list-style: none;
}

ul.filters > li > a {
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0px 5px;
}


ul.filters > li > a.selected {
  border-color: rgba(175, 47, 47, 0.2)
}

button.clear-completed {
  background-color: white;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  opacity: 0;
}

button.clear-completed.active {
  opacity: 1;
}

button.clear-completed:focus {
  outline: none;
}

ul.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.2)
}

div.footer {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 10px 10px
}
